<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="../assets/imgs/logo_homex.png" alt="">
  </a>
  <!-- Clase para colapsar cuando la pagina se hace muy pequeña. 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  Meter lo que quiero colapsar en el div
  <div class="collapse navbar-collapse" id="navbarsExampleDefault"> </div>
-->
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="#">INICIO</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">CATÁLOGO</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">CONTACTO</a>
    </li>
  </ul>
</nav>